/* google apps */
.gb_ga.gb_fa.gb_za.gb_g.gb_ha, .gb_ga.gb_fa.gb_za.gb_g.gb_ha * {
    background-color: #393939 !important;
}

/* search bar */
#search-form, #search-form > div > input, #search-form > button.gb_cf.gb_ef, #search-form > button.gb_cf.gb_ef *, #search-form > button.gb_1e, #search-form > button.gb_1e * {
    background-color: #454545 !important;
}

/* search result drop down on select */
.sbsb_c.sbsb_d, .sbsb_c.sbsb_d * {
    background-color: #121212 !important;
}

/* side bar */
#sc-burger-top > li:hover *{
    background-color: #121212 !important;
}

/* expand button */
body > div.hcfe > div.hcfe-content > section > div > article > div > button > svg {
    background-color: transparent !important;
}

/* accounts drop down */
#gb > div.gb_Bd.gb_7d > div.gb_rb.gb_fa.gb_g, #gb > div.gb_Bd.gb_7d > div.gb_rb.gb_fa.gb_g * {
    background-color: #393939 !important;
}

/* accounts drop down on select */
#gb > div.gb_Bd.gb_7d > div.gb_rb.gb_fa.gb_g > div.gb_Jb > div > *:hover, #gb > div.gb_Bd.gb_7d > div.gb_rb.gb_fa.gb_g > div.gb_Jb > div > *:hover *{
    background-color: #121212 !important;
}

/* "was this article helpful?" answer buttons */
div.button-group > button.as-button {
    background-color: #454545 !important;
}

/* next/previous article */
div.guide-button-container > a.guide-button, div.guide-button-container > a.guide-button * {
    background-color: #454545 !important;
}

/* "to receive customized help..." */
div.info-bar-container > div.notification, div.info-bar-container > div.notification * {
    background-color: #454545 !important;
}